@mixin laptop {
  @media screen and (min-width: $laptop) {
    @content;
  }
}

@mixin tablets {
  @media screen and (min-width: $tablets),
    (orientation: landscape) and (max-height: $tablets) {
    @content;
  }
}

@mixin desktop-middle {
  @media screen and (min-width: $desktop-middle) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin text-normal {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;

  @include desktop {
    font-size: 14px;
  }
}

@mixin text-large {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;

  @include desktop {
    font-size: 16px;
  }
}

@mixin text-big {
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;

  @include desktop {
    font-size: 18px;
  }
}
