//colors
$white: #ffffff;
$black: #000000;
$black-middle: #333333;
$gray-dark: #4F4F4F;
$gray-light: #BDBDBD;
$gray-medium: #E0E0E0;
$early-dawn: #F9F1DC;
$gray-middle: #828282;

// resolutions
$desktop: 1920px;
$desktop-middle: 1420px;
$laptop: 1024px;
$tablets: 768px;
$phones: 480px;
$phones-small: 375px;
